@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    
}

nav a:hover {
    
    color: lightskyblue;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
} a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif

}

header > div > img {
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    
}

.center {
    text-align: center;
}
h1 {
    color: lightskyblue;
}
footer > a > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
footer a {
    margin: 20px;
    text-align: center;
    padding: 2px;
}
footer a:hover {
    color: lightskyblue;
}
.container {
    padding: 0px 50px;
    
}
h3 p, a:hover {
    color: lightskyblue;
}
h3, p {
    font-family:'Times New Roman', Times, serif
}
h3 {
    color: lightskyblue;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dsobremim {
    background-color: white;
    width: 100px;
    
}
.dformação {
    background-color: white;
    width: 158px;
}
.dcursos {
    background-color: white;
    width: 116px;
}
